<mat-toolbar>
    <div class="colorbox w3-animate-left">
        <div class="bl"></div>
        <div class="or"></div>
    </div>
    <img src="../../assets/images/logo.png" alt="logo">
    <a href="/login">Register/Login</a>

</mat-toolbar>
<div class="main-container ">
    <ul class="w3-animate-top">
        <li>
            <div class="content">
                <div class="paragraph ">
                    <h3>Find your ideal intern experience</h3>
                    <p>InterMatch will help you discover many job positions<br>that is suitable with your wants and
                        needs.</p>
                </div>
                <img src="../../assets/images/homepage-img.PNG" alt="homepage-img">
            </div>
        </li>
        <li> <img class="contact w3-animate-right" src="../../assets/images/contact-img.PNG" alt="contact-img"></li>
    </ul>


</div>