<mat-toolbar>
  <div class="colorbox w3-animate-left">
    <div class="bl"></div>
    <div class="or"></div>
  </div>
  <a> <img src="../../assets/images/logo.png" alt="logo"></a>
  <span class="space"></span>
  <div class="buttonbox">
    <button mat-flat-button (click)="goToEmployeeFeed()">Internships</button>
    <button mat-flat-button class="border-left"(click)="goToEmployeeAccount()">Account</button>
    <button mat-flat-button class="border-left" (click)="logout()">Log Out</button>
  </div>

</mat-toolbar>