<app-company-navbar></app-company-navbar>
<div class="orange">
</div>
<div class="container">
    <div class="button" >
        <button mat-raised-button (click)="openAddDialog()"><strong>Add new job</strong></button>
    </div>
    <div class="content">


        <table mat-table [dataSource]="posted_jobs" multiTemplateDataRows class="mat-elevation-z8">

            <ng-container matColumnDef="created_date">
                <th mat-header-cell *matHeaderCellDef>Created Date</th>
                <td mat-cell *matCellDef="let job">{{job.created_date | date}}</td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Position</th>
                <td mat-cell *matCellDef="let job"><strong>{{job.title}}</strong></td>
            </ng-container>
            <ng-container matColumnDef="deadline">
                <th mat-header-cell *matHeaderCellDef>Deadline</th>
                <td mat-cell *matCellDef="let job">{{job.deadline | date}}</td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let job" [attr.colspan]="columnsList.length">
                    <div class="job-detail" [@detailExpand]="job == expandedJob ? 'expanded' : 'collapsed'">
                        <div class="job-dates">

                            <div><strong>Start date:</strong><br> {{job.start_date | date}}</div>
                            <div><strong>End date:</strong><br> {{job.end_date | date}}</div>

                        </div>
                        <div class="job-description">
                            <div><strong>Description:</strong> <br>{{job.description}}</div>
                        </div>
                        <div class="job-button">
                            <button mat-raised-button (click)="openUpdateDialog(job._id)">Update</button>
                            <button mat-raised-button>Delete</button>
                        </div>

                    </div>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="columnsList"></tr>
            <tr mat-row *matRowDef="let job; columns: columnsList;" class="job-row" [class.expanded-row]="expandedJob === job"
                (click)="expandedJob = job">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        </table>
    </div>


</div>