<app-company-navbar></app-company-navbar>
<div class="orange">
</div>
<div class="container">
    <mat-tab-group>
        <mat-tab label="Discover">
            <div class="scroll-container">
                <div class="scroll-content">
                    <mat-card *ngFor="let employee of employeeList">
                        <mat-card-title>
                            {{employee.full_name}}
                        </mat-card-title>
                        <hr>
                        <mat-card-subtitle>
                            <strong>Specialization: &nbsp;{{employee.specialization}}<br>
                            Birthdate: {{employee.birthdate | date}}<br>
                            <hr>
                            Introduction:<br>
                            <span class="text">{{employee.description[0].content}}</span>.....</strong>
                        </mat-card-subtitle>
                        <mat-card-actions>
                            <button mat-stroked-button (click)="openViewDialog(employee._id)">View Profile</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>



        </mat-tab>
        <mat-tab label="Matched">
            <mat-card>
                <mat-card-title>
                    <!-- {{jobPost.title}} -->
                </mat-card-title>
                <mat-card-subtitle>
                    <!-- {{jobPost.description}} -->
                </mat-card-subtitle>
                <mat-card-actions>
                    <button mat-stroked-button>apply</button>
                </mat-card-actions>
            </mat-card>

        </mat-tab>
    </mat-tab-group>

</div>